<h1>Lista de Vinilos</h1>
<a href="{% url 'crear_vinilo' %}">Crear nuevo vinilo</a>

<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Artista</th>
        <th>Año salida</th>
        <th>Precio</th>
        <th>Inventario</th>
        <th>Proveedor</th>
        <th>Acciones</th>
    </tr>

    {% for v in vinilos %}
    <tr>
        <td>{{ v.nombre }}</td>
        <td>{{ v.artista }}</td>
        <td>{{ v.anio_salida }}</td>
        <td>{{ v.precio_unitario }}</td>
        <td>{{ v.inventario }}</td>
        <td>{{ v.proveedor.nombre }}</td>
        <td>
            <a href="{% url 'editar_vinilo' v.id %}">Editar</a>
            <a href="{% url 'eliminar_vinilo' v.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
